* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bgAnim 5s infinite alternate linear;
    /* background-color: aqua; */
}
@keyframes bgAnim {
    0% {
        background-color: rgba(0, 255, 255, 0.308);
    }
    25% {
        background-color: rgba(0, 98, 255, 0.332);
    }
    50% {
        background-color: rgba(242, 0, 255, 0.306);
    }
    75% {
        background-color: rgba(255, 0, 140, 0.285);
    }
    100% {
        background-color: rgba(255, 0, 0, 0.31);
    }
}

.agungContainer {
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.tittle{
    text-align: center;
}

.subtitle{
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.label{
    padding-left: 100px;
    padding-right: 50px;
    font-weight: bold;
    font-size: 20px;
}

.input{
    padding-right: 150px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17px;
}

.button{
    margin-left: 50px;
    margin-right: 0px;
    background-color: rgba(187, 187, 187, 0.308);
    color: rgb(0, 0, 0);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    padding: 10px 20px;
    font-size: 17px;
}

#hasil{
    background-color: rgba(187, 187, 187, 0.308);
    color: rgb(0, 0, 0);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 6px;
    padding: 15px 20px;
    font-size: 17px;
    margin-left: 100px;
    margin-right: 30px;
    margin-top: 10px;
}